# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.pdf
*.gif
*.png
*.mat
*.mexa64
*.v3draw
*~
*.asv
*.t7
*.h5
*.log
/.ipynb_checkpoints/Untitled0-checkpoint.ipynb
/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/.ipynb_checkpoints/cnn3d-firstworking-1000-checkpoint.ipynb
/.ipynb_checkpoints/fold1-checkpoint.ipynb

*.swc
*.v3draw
*.v3dpbd
*.ano
*.pbs
*.txt
*.ipynb
*.html
